doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title React
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="//bootswatch.com/readable/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js')
    script(src='https://fb.me/react-15.0.0-rc.1.js')
    script(src='https://fb.me/react-dom-15.0.0-rc.1.js')
    script(type='text/babel', src='js/script.jsx')
  body
    #root
